html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1f1f1f;
  color: #e3e3e3;
  font-family: 'Roboto Flex', sans-serif;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f1f1f;
  /*Fixed top*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  /*HACK: make the pic won't interfere with navbar*/
}

li {
  float: left;
}

li a {
  display: block;
  color: #d4d7d5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #393a3e;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}

/*Main*/
.box {
  background-color: #28292a;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  scroll-margin-top: 60px;
  text-align: center;
}

.background-image {
  filter: blur(5px);
}

.boxsu {
  /*REMINDER TO DO SEPARATE BOX FOR EACH SECTION*/
  background-color: #28292a;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  /*fit-content*/
  scroll-margin-top: 60px;
  text-align: left;
}

:not(index) .box {
  background-color: #28292a;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(92vh - 60px);
  scroll-margin-top: 60px;
  text-align: center;
}

img {
  border-radius: 15px;
}

.highlight {
  /*For the text NAIM*/
  background-color: #000000;
  color: #e3e3e3;
  padding: 2px 5px;
}

/*Download*/

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #1f1f1f;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  background-color: #333333;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

/*Timetable*/
table,
th,
td {
  border: 0;
  border-collapse: collapse;
}

th,
td {
  /*Table bg color*/
  background-color: #1f1f1f;
}

tr:not(:last-child) {
  border-bottom: 1px solid #28292a;
}

table {
  /*Stretch table*/
  width: 100%;
  max-width: 800px;
}

th {
  /*Stretch table*/
  height: 70px;
}

/*Galleries*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  width: calc(10% - 20px);
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /*HACK: make the pic won't interfere with navbar*/
}

@media only screen and (max-width: 768px) {
  .image {
    width: calc(20% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .image {
    width: calc(50% - 20px);
  }
}

.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.image:hover img {
  transform: scale(1.2);
}

/*Links*/
.circle-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CCCCCC;
  overflow: hidden;
}

.circle-button img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Form for Login/Signup*/

.input-res {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 500px;
  background-color: #ddd;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #28292a;
  margin: auto;
  border-radius: 20px;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #1f1f1f;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-body {
  padding: 2px 16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

input[type=button],
input[type=submit],
input[type=reset] {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #1f1f1f;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #333333;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

/*Links*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-github {
  background: #202124;
  color: white;
}
